body
{
	background-color: #e1e8e8;
	overflow:auto;
}

 table.center {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
  }

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}


#logo
{
	text-align: center;
	width: 1000px;
	height: 200px;
	border-radius: 25px 60px 30px 60px;
	overflow: hidden;
}


#subpages
{
	width: 1000px;
	height: 50px;
	float: left;
	background-color: #f3f3f3;
}

.rectangle
{
	background-color:#454545;
	border:1px solid #333333;
	display:inline-block;
	cursor:pointer;
	color:#f5f5f5;
	width:         128px;
	height:        48px;
	font:          normal 400 25px/50px "Arial", serif;
	text-align:    center;
	text-shadow:   none;
	float: left;
	text-shadow:0px 0px 4px #000000;
}

.rectangle:hover {
	background-color:#616161;
}

.rectangle2
{
	background-color:#454545;
	border:1px solid #333333;
	display:inline-block;
	cursor:pointer;
	color:#f5f5f5;
	width:         218px;
	height:        30px;
	font:          normal 400 15px/30px "Droid Serif", serif;
	text-align:    center;
	text-shadow:   none;
	float: left;
	text-shadow:0px 0px 4px #000000;
}

.rectangle2:hover {
	background-color:#616161;
}

#panel
{
	background-color:#454545;
	border:1px solid #333333;
	display:inline-block;
	color:#f5f5f5;
	display:       inline-block;
	width:         218px;
	height:        48px;
	float: left;
	text-shadow:0px 0px 4px #000000;
	
}


#login
{
	width: 140px;
	height: 12px;
	margin: 4px 5px;
}


#pass
{
	width: 140px;
	height: 12px;
	margin: -5px 5px;
}


#send
{
	width: 50px;
	height: 20px;
	margin: -20px 6px;
	font-size: 9px;
	float: right;
}


#logout
{
	width: 50px;
	height: 20px;
	margin: -12px 6px;
	font-size: 9px;
	float: right;
}


#main
{
	width: 1000px;
	height: 600px;
}


#content
{
	background-color: #666666;
	width: 780px;
	//height: 600px;
	float: left;
	//overflow: auto;
	height: auto;
	min-height: 100%;
	color: #f5f5f5;
	text-shadow:0px 0px 1px #111111;
	font: normal 400 15px/20px "Droid Serif", serif;
}

headline
{
	/*font-size: 25px;*/
	font:  normal 400 25px/25px "Arial", serif; color:#f5f5f5; text-shadow:0px 0px 4px #000000;
}

timestamp
{
	/*font-size: 13px;*/
	font:  normal 400 13px/13px "Arial", serif; color:#f5f5f5; text-shadow:0px 0px 4px #000000;
}

story
{
	/*font-size: 18px;*/
	font:  normal 400 18px/18px "Droid Serif", serif; color:#f5f5f5; text-shadow:0px 0px 3px #000000;
}

name
{
	/*font-size: 15px;*/
	font:  normal 400 15px/15px "Arial", serif; color:#f5f5f5; text-shadow:0px 0px 4px #000000;
}


#column
{
	width: 220px;
	height: 600px;
	float: left;
	background-color: #454545;
	text-align: center
}


#acc
{
	background-color: #454545;
	width: 220px;
	height: 200px;
	text-align: center;
}


#space
{
	//background-color: #582034;
	width: 220px;
	//height: 250px;
	height: 100% ;
	//min-height: 50%;
	//position: fixed;
	//padding-top: 60px;
	
}


#footer
{
	background-color: #333333;
	width: 1000px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	font: "Arial" serif;
	font-size: 25px;
	color:#010101;
	text-shadow: 0px 0px 1px #000000;
}

#signin
{
	text-align: center;
}

#captcha
{
	margin: 0 auto;
	width: 38%;
	display: block;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} cl
  to {opacity: 1}
}

.error
{
color:red;
margin-top: 10px;
margin-bottom: 10px;
}

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#333333;
	font:  normal 400 15px/15px "Arial", serif;
	color:#f5f5f5;
	text-shadow:0px 0px 4px #000000;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#222;
	color:#eee;
}

.slideshow-container {
  width: 780px;
  height: 600px;
  position: relative;
  margin: auto;
}


table
{
    background-color: #666666;
	border:solid black 1px;
	font:  normal 400 13px/13px "Arial", serif;
	color:#f5f5f5;
	text-shadow:0px 0px 4px #000000;
}

td, th
{
	border:solid black 1px;
	padding: 5px;
}
tr:nth-child(even){background-color: #888888;}

table.contact
{
    background-color: #666666;
	border:solid black 2px;
	border-radius: 3px;
	width: 300px;
	font:  normal 400 15px/15px "Arial", serif;
	color:#f5f5f5;
	text-shadow:0px 0px 4px #000000;

}

td.contact, th.contact
{
	border:solid black 1px;
	border-radius: 2px;
	padding: 7px;
}
tr.contact:nth-child(even){background-color: #888888;}

#myaccount
{
	text-align:center;
}